@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Heebo:wght@700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Revalia&family=Roboto:ital,wght@0,100..900;1,100..900&family=Yantramanav:wght@300;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Kanit';
    font-style: normal;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title {

    font-weight: 500;
    font-size: 26px;
    line-height: 39px;

    color: #252525;

}

.main-seach {
    display: flex;
    gap: 16px;
    height: 50px;
}

.main-inp-text {
    width: 700px;
    height: 26px;
    border: #6C63FF 1px solid;
    padding-left: 30px;

}

.main-select {
    width: 85px;
    height: 31px;
    text-align: center;

    background-color: #6C63FF;
    border-radius: 5px;

    font-weight: 500;
    font-size: 18px;
    line-height: 100%;

    text-transform: uppercase;
    color: #F7F7F7;

    border: none;
}

.main-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 31px;
    height: 31px;

    background: #6C63FF;
    border-radius: 5px;

    border: none;

}

.moon-svg {
    padding: 8px;
}

/* note */

.note-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;

}

.note {
    display: flex;
    justify-content: space-between;
    border-bottom: #6C63FF solid 1px;
    width: 525px;
    align-items: center;
}

.note-checkbox {
    box-sizing: border-box;
    width: 26px;
}

.note-checkbox-wrap {
    display: flex;
    gap: 17px;

}

.note-title {

    font-weight: 500;
    font-size: 20px;
    line-height: 100%;

    text-transform: uppercase;

    color: #252525;
}

.note-button-update {
    border: none;
    background-color: transparent;
}

.note-button-delete {
    border: none;
    background-color: transparent;


}